/** @format */
.ly-relative {
  height: 12.5rem;
}
.ly-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-header {
  position: absolute;
  display: flex;
  top: 25%;
  left: 5%;

  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #fff;

  h1 {
    font-family: "mainthin";
    font-size: 4rem;
    letter-spacing: 1.6px;
    margin: 0%;
    color: #eee;
    font-weight: 600;
  }
}

.about-content {
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    color: #1a2771;
    font-weight: 300;
    text-align: center;
    line-height: 2;
  }
}

.down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0%;

  .arrow-down-icon {
    color: #1a2771;
    height: 3.5rem;
    width: 3rem;
  }
}
.founders-note-sec {
  display: flex;
  flex-direction: row;

  padding: 0% 4% 4%;

  .founders-note-img {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    img {
      width: 300px;
      height: 300px;
    }
  }
  .founders-note-content {
    display: flex;

    align-items: flex-start;
    flex-direction: column;
    margin-left: 5rem;
    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 2.2rem;
      letter-spacing: 1px;
      margin-bottom: 0.65rem;
      color: #1a2771;
      font-weight: 600;
    }

    p {
      font-size: 1.15rem;
      font-family: "Poppins", sans-serif;
      color: #1a2771;
      line-height: 1.8;
      font-weight: 300;
      text-align: left;
    }

    .greeting {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding-right: 0;

      span {
        font-size: 1.18rem;
        font-family: "Poppins", sans-serif;
        color: #1a2771;
        font-weight: 600;
      }
    }
  }
}
@media only screen and (max-width: 1200px) and (min-width: 800px) {
  .founders-note-sec {
    .founders-note-img {
      img {
        width: 250px;
        height: 250px;
      }
    }
    .founders-note-content {
      margin-left: 1rem;
      p {
        font-size: 1rem;
        line-height: 2;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .ly-relative {
    position: unset;
  }
  .ly-image {
    width: 100%;
    height: auto;
    display: none;
  }
  .about-header {
    position: unset;
    padding-top: 20%;
    /* text-align: center; */
    /* top: 25%; */
    /* left: 5%; */
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;

    h1 {
      font-family: "mainthin";
      font-size: 5rem;
      letter-spacing: 1.6px;
      margin: 0%;
      color: #1a2274;
      font-weight: 600;
    }
  }
  .about-content {
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
  }
  .founders-note-sec {
    flex-direction: column;
  }
  .founders-note-sec .founders-note-content {
    display: flex;
    flex: 2 1;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
  }
  .founders-note-sec .founders-note-content p {
    font-size: 0.85rem;
    text-align: center;
  }
  .founders-note-sec .founders-note-content .greeting {
    padding-right: 2%;
  }
}
@media screen and (max-width: 530px) {
  .ly-relative {
    height: auto;
  }
  .about-header {
    margin-top: 0.6rem;
    h1 {
      font-family: "mainthin";
      font-size: 2.9rem;
    }
  }
  .founders-note-sec {
    .founders-note-img {
      img {
        width: 220px;
        height: 220px;
      }
    }
  }
  .about-content {
    padding: 0 0.8rem;
    p {
      font-size: 0.95rem;
      line-height: 2;
    }
  }
}
