/** @format */
.order-details-overflow {
  width: 100%;
  height: 30rem;
  overflow-y: auto;
}
.orderdetails-box {
  width: 95%;
  height: 90%;
  font-family: "Poppins", sans-serif;
  margin: 1.5% auto 0;
}
.no-orders {
  margin-top: 2rem;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1a2771;
  h2 {
    color: rgb(240, 72, 72);
    font-size: 1.6rem;
  }
}
.orderdetails-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #1a2771ad;
  h1,
  h4 {
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
    color: #1a2771;
  }
  h1 {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
  }
  h4 {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
.orderdetails-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #1a2771;
  gap: 5rem;
  .orderdetails-left {
    width: 50%;
    overflow-x: auto;
    .orderdetails-left-contents {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        width: 5rem;
        font-size: 0.98rem;
        font-weight: 700;
        color: #1a2771;
        margin: 0.5rem 1rem 0.5rem 0;
      }
      span {
        margin-right: 0rem;
        font-weight: 400;
        color: #1a2771;
        font-size: 0.85rem;
        width: 60%;
      }
    }
    .orderdetails-left-address {
      p {
        font-size: 0.98rem;
        font-weight: 700;
        color: #1a2771;
        margin: 0.5rem 0;
        margin-bottom: 0.5rem;
      }
      .address-box {
        display: block;
        width: 100%;
        height: 5rem;
        overflow-y: auto;
        font-size: 0.9rem;
        line-height: 1.8;
        color: #1a2771;
        scrollbar-width: thin;
        scrollbar-color: #1a2771c7;
      } /* width */
      ::-webkit-scrollbar {
        width: 7px;
      }

      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      ::-webkit-scrollbar-thumb {
        background: #1a2771c7;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
  .orderdetails-right {
    width: 50%;
    .orderdetails-right-header {
      display: flex;
      justify-content: space-between;
      width: 95%;
      margin: 0 auto;
      border-bottom: 2px solid #1a277193;
      padding-bottom: 0.6rem;
      color: #1a2771;
      span {
        font-weight: 400;
        letter-spacing: 0.5px;
        font-size: 1.02rem;
        sub {
          font-size: 0.62rem;
          font-weight: 400;
          position: relative;
          top: 0.2rem;
          right: 0.3rem;
        }
      }
    }
  }
  .orderdetails-price {
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
    width: 95%;
    margin: 0 auto;
    .price-contents {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        width: 5rem !important;
        margin: 0.4rem 0;
        font-weight: 400;
        font-size: 0.95rem;
      }
      span {
        display: block;
        width: 6.5rem;
        text-align: right;
      }
    }
  }
}
.orderdetails-total {
  border-top: 2px solid #1a277193;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin-top: 0.8rem;
    sub {
      position: relative;
      right: 1rem;
      top: 0.4rem;
      font-size: 0.6rem;
      font-weight: 300;
    }
  }
  p {
    margin-top: 0.8rem;
    width: 5rem;
    font-weight: 600;
  }
}
.other-orders {
  h3 {
    color: #1a2771;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 800px) {
  .orderdetails-box {
    width: 95%;
    min-height: 10rem;
    font-family: "Poppins", sans-serif;
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
  }
  .orderdetails-header {
    justify-content: space-between;
    width: 100%;
    h1 {
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1.25rem;
    }
  }
  .orderdetails-box:nth-child(2) {
    margin-top: 2.6rem !important;
  }
  .orderdetails-contents {
    flex-direction: column;
    align-items: center;
    .orderdetails-left {
      width: 95%;
      .orderdetails-left-contents {
        text-align: left !important;
      }
      .orderdetails-left-address {
        p {
          text-align: left !important;
        }
        span {
          text-align: left !important;
        }
        .address-box {
          height: 4rem;
        }
      }
    }
    .orderdetails-right {
      width: 95%;
    }
  }
}
@media screen and (max-width: 520px) {
  .orderdetails-box {
    width: 100%;
    min-height: 10rem;
  }
  .orderdetails-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    h1 {
      font-size: 1.1rem;
    }
    h4 {
      margin-top: 0.1rem;
      font-size: 1.15rem;
    }
  }
}
