/** @format */

.third-container {
  width: 100%;
  height: 100vh;
  background: transparent linear-gradient(180deg, #050d39 0%, #22318a 100%) 0%
    0% no-repeat padding-box;
  position: relative;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
.third-contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;

  h5 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    color: white;
    font-size: 3rem;
    margin-bottom: 0.6rem;
  }
  p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
  }
}
.third-img {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 1500px) {
  .third-container {
    height: auto;
  }
  .third-container {
    height: auto;
  }
  .third-img {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 1200px) {
  .third-contents {
    h5 {
      font-size: 2rem;
    }
    p {
      width: 90%;
    }
  }
}

@media screen and (max-width: 800px) {
  .third-container {
    width: 100%;
    height: auto;
    position: unset;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    display: flex;
  }
  .third-contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;

    h5 {
      position: unset;
      left: 0;
      display: flex;
      transform: unset;
      top: 0;
      color: white;
      font-size: 2.2rem;
      margin-bottom: 0.6rem;
      align-items: center;
      justify-items: center;
      text-align: center;
      padding-top: 4%;
      margin: 0;
    }
  }
  .third-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .third-contents p {
    width: 90%;
    text-align: center;
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 526px) {
  .third-contents {
    width: 100%;
    height: 100%;

    h5 {
      font-size: 1.5rem;
      margin-top: 0.6rem;
    }
    p {
      position: relative;
      top: 1.6rem;
      opacity: 0.95;
      line-height: 2;
    }
  }
}
