/** @format */
$whitecolor: #eee;
.contact-banner {
  display: flex;
  position: relative;
  width: 100%;
  height: 15rem;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .contact-title {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 60%;

    h1 {
      font-family: "mainthin";
      font-size: 4rem;
      letter-spacing: 1.6px;
      margin-bottom: 0.65rem;
      color: #eee;
      font-weight: 200;
    }
    h4 {
      font-size: 1.1rem;
      color: rgb(240, 240, 240);
      font-weight: 300;
      margin-top: 0.7rem;
      letter-spacing: 0.5px;
      font-family: "Poppins", sans-serif;
    }
  }
}
.contact-container {
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 3rem;
  .contact-details {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 4%;
    width: 30%;
    justify-content: center;

    .detail {
      display: flex;
      flex-direction: row;
      margin-bottom: 8%;
      align-items: center;

      .contact_icon {
        color: #1a2771;
        height: 1.5rem;
        width: 2rem;
        margin-right: 2%;
      }

      span {
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        color: #1a2771;
        font-weight: 500;
      }
    }
  }

  .map {
    display: flex;
    justify-content: center;
    width: 35%;

    iframe {
      width: 280px;
      border: 0;
      margin-bottom: 1.5rem;
      height: 280px;
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.116);
    }
  }

  .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    padding-right: 2%;

    p {
      font-size: 1.18rem;

      color: #1a2771;
      text-align: right;
      line-height: 1.8;
      font-family: "Poppins", sans-serif;
    }
  }
}
@media only screen and (max-width: 1200px) and (min-width: 800px) {
  .contact-banner {
    height: 12.5rem;
    .contact-title {
      h1 {
        font-size: 3rem;
      }
      h4 {
        font-size: 1rem;
      }
    }
  }
  .contact-container {
    height: 50vh;
    .contact-details {
      .detail {
        span {
          font-size: 1.1rem;
        }
      }
    }
    .contact-content {
      p {
        font-size: 0.9rem;
        line-height: 2;
      }
    }
    .map {
      display: flex;
      justify-content: center;
      width: 35%;

      iframe {
        width: 280px;

        height: 260px;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .contact-banner {
    display: flex;
    position: unset;
    width: 100%;
    height: auto;
    padding-top: 10%;

    img {
      display: none;
    }
    .contact-title {
      position: unset;
      display: flex;
      /* bottom: 0%; */
      /* left: 8%; */
      width: 100%;
      flex-direction: column;
      align-items: center;

      h1 {
        letter-spacing: 1px;
        color: #1a2274;
        font-weight: 800;
        font-size: 2.8rem;
      }

      h4 {
        font-size: 1rem;
        color: #1a2274;
        text-align: center;
      }
    }
  }
  .contact-container {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1rem;
    width: 100vw;

    .contact-details {
      display: flex;
      flex-direction: column;
      padding-left: 5%;
      padding-top: 4%;
      width: 90%;
      justify-content: center;
      margin-bottom: 1rem;
      .detail {
        margin-bottom: 1.1rem;
      }
      .detail span {
        font-size: 15px;
        color: #1a2771;
      }
    }
    .map {
      width: 100%;
    }
    .contact-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      padding-right: 2%;

      p {
        font-size: 0.85rem;
        color: #1a2771;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 530px) {
  .contact-title {
    margin-top: 1rem;
    h1 {
      letter-spacing: 1px;
      color: #1a2274;
      font-weight: 800;
      font-size: 2.2rem !important;
    }

    h4 {
      width: 95%;
      font-size: 0.8rem !important;
      color: #1a2274;
      text-align: center;
    }
  }
}
