/** @format */

.order-s-container {
  width: 100%;
  height: 85vh;
  background: #1a2771;
}
.order-s-contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-c {
  display: inline;
}
.loading {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: #1a2771;
  animation: spin 1s infinite linear;
}
.loader-spin {
  user-select: none;
  background-color: transparent;
  color: #000000;
  border: 2px solid transparent;

  transition: 0.5s ease-in-out;
  width: 90px;
  font-size: 20px;
  height: 35px;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.order-s-box {
  width: 60%;
  margin: 0 auto;
  height: 30rem;

  border-radius: 40px;
  padding: 1rem 2rem;
  background-color: white;
  font-family: "Poppins", sans-serif;

  .order-s-box-contents {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #1a277123;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #1a2771c7;
    }
  }
  h2 {
    margin-top: 3%;
    color: #1a2771;
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
  }
  p {
    color: #1a2771;
    width: 96%;
    font-weight: 500;
    span {
      font-weight: 700;
    }
  }
}
.order-s-form {
  border-bottom: 2px solid #1a2771;
  padding-bottom: 1.8rem;
  form {
    .userinput {
      width: 14rem;
      border: 2px solid#85858541;
      font-family: "Poppins", sans-serif;
      padding: 0.5rem 0.5rem;
      border-radius: 10px;
      margin: 0.3rem 0.9rem 0.1rem;
      margin-left: 0;
    }
    .usersubmit-btn {
      width: 5rem;
      padding: 0.3rem 0.4rem;
      border: 0;
      outline: 0;
      background-color: #1a2771;
      border: 2px solid #1a2771;
      color: white;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      border-radius: 5px;
      &:hover {
        background: transparent;
        color: black;
      }
    }
    .input-2 {
      margin-top: 0.2rem;
      width: 10rem;
    }
    .error-msg {
      font-size: 0.8rem;
      margin-left: 0.4rem;
      margin: 0.2rem 0.4rem;
      color: red;
    }
    .rensend-tag {
      margin: 0 0.4rem;
      font-size: 0.8rem;
      font-weight: 400;
      span {
        text-decoration: underline;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.9rem;
      }
    }
    .order-s-input-1 {
      margin-bottom: 0.05rem;
      display: flex;
      align-items: center;
    }
    .order-s-input-2 {
      margin-top: 1rem;
      margin-bottom: 0.1rem;
    }
  }
}
.order-s-bottom {
  margin-top: 0.2rem;
  font-family: "Poppins", sans-serif;

  p {
    font-weight: 700;
    font-size: 1.2rem;

    margin-bottom: 0.6rem;
  }
  span {
    font-size: 1rem;
    color: #1a2771;
    .underline {
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 1200px) {
  .order-s-container {
    height: auto;

    background: transparent;
  }
  .order-s-contents {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .order-s-box {
    width: 100%;
    height: 100%;
    border-radius: 0;
    text-align: center;
    padding: 0 1rem;
    margin: 5rem auto 10rem;
    padding-top: 3.5rem;

    .order-s-box-contents {
      overflow-y: visible;
    }
    h2 {
      font-size: 2.1rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
    }
    p {
      font-weight: 400;
    }
    p:nth-child(1) {
      font-weight: 600;
    }
  }
  .order-s-form {
    margin-top: 2rem;
    form {
      .userinput {
        width: 70%;
      }
      .input-2 {
        width: 40%;
      }
      .order-s-input-1 {
        justify-content: center;
      }
      .error-msg {
        font-size: 0.8rem;
        margin-left: 0.4rem;

        color: red;
        display: block;
        text-align: left !important;
      }
      .rensend-tag {
        text-align: left !important;
      }
    }
  }
  .order-s-bottom {
    margin-top: 1.6rem;
  }
}
@media screen and (max-width: 526px) {
  .order-s-box {
    padding-top: 3rem;
    h2 {
      font-size: 2.1rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
    }
    p {
      width: 100%;
      font-weight: 400;
      font-size: 0.85rem;
      line-height: 1.8;
    }
    p:nth-child(1) {
      font-weight: 600;
      font-size: 1rem;
    }
  }
  .order-s-form {
    margin-top: 2rem;
    form {
      .userinput {
        width: 70%;
      }
      .input-2 {
        width: 45%;
      }
    }
  }
}
