/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.ly-relative {
  position: relative;
}
.ly-image {
  width: 100%;
  height: auto;
}
.loader-container {
  position: relative;

  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
.cssload-loader {
  height: 39px;
  width: 40px;
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
  left: calc(50% - 19px);
  animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  -o-animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  -ms-animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  -webkit-animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  -moz-animation: cssload-loader 5.75s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

.cssload-top {
  animation: cssload-top 5.75s linear infinite;
  -o-animation: cssload-top 5.75s linear infinite;
  -ms-animation: cssload-top 5.75s linear infinite;
  -webkit-animation: cssload-top 5.75s linear infinite;
  -moz-animation: cssload-top 5.75s linear infinite;
  border-top: 19px solid #1a2771;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
}

.cssload-bottom {
  animation: cssload-bottom 5.75s linear infinite;
  -o-animation: cssload-bottom 5.75s linear infinite;
  -ms-animation: cssload-bottom 5.75s linear infinite;
  -webkit-animation: cssload-bottom 5.75s linear infinite;
  -moz-animation: cssload-bottom 5.75s linear infinite;
  border-right: 19px solid transparent;
  border-bottom: 19px solid rgb(0, 0, 0);
  border-left: 19px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
}

.cssload-line {
  animation: cssload-line 5.75s linear infinite;
  -o-animation: cssload-line 5.75s linear infinite;
  -ms-animation: cssload-line 5.75s linear infinite;
  -webkit-animation: cssload-line 5.75s linear infinite;
  -moz-animation: cssload-line 5.75s linear infinite;
  border-left: 1px dotted #1a2771;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 19px;
  left: 19px;
}

@keyframes cssload-loader {
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-o-keyframes cssload-loader {
  90% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(180deg);
  }
}

@-ms-keyframes cssload-loader {
  90% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(180deg);
  }
}

@-webkit-keyframes cssload-loader {
  90% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@-moz-keyframes cssload-loader {
  90% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(180deg);
  }
}

@keyframes cssload-top {
  90% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@-o-keyframes cssload-top {
  90% {
    -o-transform: scale(0);
  }
  100% {
    -o-transform: scale(0);
  }
}

@-ms-keyframes cssload-top {
  90% {
    -ms-transform: scale(0);
  }
  100% {
    -ms-transform: scale(0);
  }
}

@-webkit-keyframes cssload-top {
  90% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
  }
}

@-moz-keyframes cssload-top {
  90% {
    -moz-transform: scale(0);
  }
  100% {
    -moz-transform: scale(0);
  }
}

@keyframes cssload-bottom {
  10% {
    transform: scale(0);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@-o-keyframes cssload-bottom {
  10% {
    -o-transform: scale(0);
  }
  90% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(1);
  }
}

@-ms-keyframes cssload-bottom {
  10% {
    -ms-transform: scale(0);
  }
  90% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
  }
}

@-webkit-keyframes cssload-bottom {
  10% {
    -webkit-transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cssload-bottom {
  10% {
    -moz-transform: scale(0);
  }
  90% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@keyframes cssload-line {
  10% {
    height: 19px;
  }
  100% {
    height: 19px;
  }
}

@-o-keyframes cssload-line {
  10% {
    height: 19px;
  }
  100% {
    height: 19px;
  }
}

@-ms-keyframes cssload-line {
  10% {
    height: 19px;
  }
  100% {
    height: 19px;
  }
}

@-webkit-keyframes cssload-line {
  10% {
    height: 19px;
  }
  100% {
    height: 19px;
  }
}

@-moz-keyframes cssload-line {
  10% {
    height: 19px;
  }
  100% {
    height: 19px;
  }
}
